# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Scripts
*.sh text eol=lf
bin/* text eol=lf

# Documentation
*.txt text eol=lf
LICENSE text eol=lf
CHANGELOG.md text eol=lf
CONTRIBUTING.md text eol=lf

# Config files
.gitignore text eol=lf
.gitattributes text eol=lf
.eslintrc.json text eol=lf
.prettierrc.json text eol=lf
.mocharc.json text eol=lf
tsconfig.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
